<div class="details">
  <h1>{{ chartData[0].name }}</h1>
  <app-statistics [stats]="stats"></app-statistics>
  <ngx-charts-line-chart
    (window:resize)="onResize($event)"
    [view]="chartSize"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisLabel]="'Dates'"
    [results]="chartData"
  >
    <ng-template #tooltipTemplate let-model="model">
      <div
        style="
          background-color: #4da19e;
          padding: 1px 20px 12px 20px;
          margin: 0px -10px 0px -10px;
          border-radius: 2px;
        "
      >
        <p>{{ model.name }}</p>
        <i class="fas fa-medal"> {{ model.value }}</i>
      </div>
    </ng-template>
  </ngx-charts-line-chart>
  <br />
  <a routerLink="">Go back</a>
</div>
